@{
    ViewBag.Title = "About";
}

<h2 class="page-title">About Us</h2>

<div class="row" style="margin-top:50px">
    <iframe class="col-md-6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2964.3666694899903!2d23.09417901570619!3d42.01386586488553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aaf5fe298f812f%3A0xebc8abd340be60ff!2sSkaptopara+I+Cafe!5e0!3m2!1sen!2sbg!4v1519869126119" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div class="col-md-4">
        <h2 style="color:black">Contact Us:</h2>
        <h3><b style="color:black">Name: </b>Your Tunes Enterprise</h3>
        <h3><b style="color:black">Tel: </b>-30 158 1993 210</h3>
        <h3><b style="color:black">Email: </b>your-tunes@aubg.edu</h3>

        <p>Our goal is to provide easy access to all your favorite hits. Tune in now and enjoy the rythm!</p>
    </div>
</div>